<h3 [ngStyle]="{'font-size': 'xx-large', 'text-align': 'center', 'font-weight': 'bold', 'font-family': 'Lucida Sans, Lucida Sans Regular, Lucida Grande, Lucida Sans Unicode, Geneva, Verdana, sans-serif'}">DONACIONES Y VOLUNTARIOS</h3>
<br>
<div class="card-deck">
  <div class="card">
    <img src="assets/img/donacionMon.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title" [ngStyle]="{'font-weight': 'bold', 'font-size': 'larger'}">Donación Monetaria</h5>
      <p class="card-text">Las donaciones monetarias son cruciales para mantener nuestras operaciones y mejorar los servicios que ofrecemos a los animales. Estas contribuciones financian directamente los cuidados veterinarios, alimentos, y mantenimiento de nuestras instalaciones.</p>
    </div>
  </div>
  <div class="card">
    <img src="assets/img/donacionArticulo.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title" [ngStyle]="{'font-weight': 'bold', 'font-size': 'larger'}">Donación por Artículos</h5>
      <p class="card-text">Las donaciones de artículos ayudan a cubrir las necesidades diarias de los animales en nuestro refugio. Los artículos más necesitados suelen incluir alimentos, juguetes, mantas, y productos de limpieza.</p>
    </div>
  </div>
  <div class="card">
    <img src="assets/img/donacionTiempo.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title" [ngStyle]="{'font-weight': 'bold', 'font-size': 'larger'}">Donación por Tiempo</h5>
      <p class="card-text">Donar tiempo a través del voluntariado es una forma valiosa de contribuir. Los voluntarios pueden ayudar en el cuidado diario de los animales, asistir en eventos de adopción, y participar en programas educativos.</p>
    </div>
  </div>
  <div class="card">
    <img src="assets/img/comodonar.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title" [ngStyle]="{'font-weight': 'bold', 'font-size': 'larger'}">¿Cómo Donar?</h5>
      <p class="card-text">Facilitar el proceso de donación es esencial para alentar a las personas a contribuir a tu causa.</p>
    </div>
  </div>
</div>
<br>