<div class="cardImg">
  <div class="imgBox">
    <img src="assets/img/f2.jpg" class="img-fluid" alt="Imagen de adopción de perro" width="100%">
  </div>
  <div class="ContImg">
    <h2 style="font-weight: bold; color: white;">Cada adopción es un corazón salvado. Encuentra tu compañero leal en Colita Feliz.</h2>
    <p style="text-align: center; color: white;">Nuestro refugio es un puente de esperanza para animales en busca de un nuevo comienzo. Cada adopción no solo salva un corazón,</p> 
    <p style="text-align: center; color: white;">sino que también te brinda la oportunidad de descubrir a tu compañero más leal. Ven y encuentra a quien llenará tus días de alegría y gratitud.</p>
  </div>
</div>

<br><br>
<h3 style="text-align: center; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size: xx-large; font-weight: bold;" >ADOPCIONES</h3><br>
<div style="text-align: center; width: 80%; margin-left: auto; margin-right: auto;">
    <p>En Colita Feliz, creemos que cada animal merece un hogar lleno de amor y cuidados. La adopción de mascotas no solo salva vidas, sino que también te da la oportunidad de conocer a un amigo fiel que te llenará la vida de alegría y compañía.
    </p>
</div>
<br><br>
<div class="container">
  <div class="row">
    <div class="column">
      <h2>Información sobre el proceso de adopción</h2><br>
      <img src="assets/img/Perro.jpg" alt="Dog" style="height: 50%;"><br>
    </div>
    <div class="column">
      <div class="steps-container">
        <div class="step">
          <div class="step-number">1</div>
          <h3>Visita el Refugio o la Página Web</h3>
          <p>Explora las opciones disponibles navegando por nuestra galería de mascotas en línea o visitando nuestro refugio en persona para conocer a los animales.</p>
        </div>
        <div class="step">
          <div class="step-number">2</div>
          <h3>Completa el Formulario de Solicitud</h3>
          <p>Rellena un formulario de solicitud de adopción proporcionando detalles sobre tu hogar y tu experiencia con mascotas. Esto nos ayuda a asegurar que cada mascota va a un hogar adecuado.</p>
        </div>
        <div class="step">
          <div class="step-number">3</div>
          <h3>Encuentro y Saludo</h3>
          <p> Programa un encuentro con la mascota que te interesa. Este paso es crucial para ver cómo interactúas con la mascota y viceversa.</p>
        </div>
        <div class="step">
          <div class="step-number">4</div>
          <h3>Adopción Formal</h3>
          <p>Una vez aprobada la solicitud y completados todos los pasos, puedes formalizar la adopción y llevar a tu nueva mascota a casa.</p>
        </div>
        <div class="step">
          <div class="step-number">5</div>
          <h3>Seguimiento</h3>
          <p>Realizamos un seguimiento para asegurarnos de que tanto la mascota como el adoptante estén felices y sanos.</p>
        </div>
    </div>
    </div>
  </div>
  </div>
<br>
<h3 style="text-align: center; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size: xx-large; font-weight: bold;" >REQUISITOS DE ADOPCION</h3><br>
    <div class="row row-cols-1 row-cols-md-2">
      <div class="col mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title" style="font-weight: bold; font-size: larger;">🔞 Ser Mayor de Edad</h5>
            <p class="card-text">Debes ser mayor de 18 años para adoptar una mascota.</p>
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title" style="font-weight: bold; font-size: larger;">🪪 Identificación Válida</h5>
            <p class="card-text">Presentar una identificación válida con fotografía para verificar tu identidad y residencia.</p>
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title" style="font-weight: bold; font-size: larger;">🤝 Acuerdo de Adopción</h5>
            <p class="card-text">Firmar un acuerdo que compromete al adoptante a cuidar adecuadamente a la mascota.</p>
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title" style="font-weight: bold; font-size: larger;">🏠 Verificación de Vivienda</h5>
            <p class="card-text">Demostrar que el entorno de la vivienda es seguro y adecuado para el animal.</p>
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title" style="font-weight: bold; font-size: larger;">📜 Compromiso a Largo Plazo</h5>
            <p class="card-text">Comprometerse a cuidar de la mascota por toda su vida.</p>
          </div>
        </div>
      </div>
    </div>
    