<div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1 class="titulo">Nuestra Historia</h1>
        <p class="historia">
          En Colita Feliz, nos dedicamos apasionadamente a rescatar y cuidar a perros y gatos sin hogar. Todo comenzó hace 10 años, cuando un grupo de amigos preocupados por el bienestar de los animales decidió unirse y fundar este refugio.
        </p>
        <p class="historia">
          Desde entonces, hemos trabajado incansablemente para brindar amor, atención médica y hogares amorosos a cada animal que entra por nuestras puertas. Nuestro objetivo es encontrar un hogar permanente para cada mascota y promover la adopción responsable.
        </p>
      </div>
      <div class="col-md-6 img-container">
        <img src="assets/imagenes/imgNosotros/refugio.jpg" alt="Colita Feliz" class="img-fluid img-effect">
      </div>
    </div>
  </div>
  <hr>

  <br>
  <div class="equipo">

    <h3 class="titulo">Nuestro Equipo</h3>
    <br>
    <div class="circulo">
        <img src="assets/imagenes/imgNosotros/ahylin.png" alt="Participante 1">
        <div class="nombre">Ahylin</div>
      </div>
      
      <div class="circulo">
        <img src="assets/imagenes/imgNosotros/giovanny.png" alt="Participante 2">
        <div class="nombre">Giovanny</div>
      </div>
      
      <div class="circulo">
        <img src="assets/imagenes/imgNosotros/ana.png" alt="Participante 3">
        <div class="nombre">Ana</div>
      </div>

      <div class="circulo">
        <img src="assets/imagenes/imgNosotros/Jefferson.png" alt="Participante 4">
        <div class="nombre">Jefferson</div>
      </div>
  </div>
  <hr>
  <br>
  <p class="abandono" style="margin-top: 30px;">En México, se estima que medio millón de perros y gatos son abandonados cada año. 
  </p>
  <p class="abandono" > Lamentablemente, una parte de ellos son adquiridos como regalos de Navidad, Día de Reyes y San Valentín, pero después los dueños pierden el interés en ellos.
  </p>
  <p class="abandono" > Además, 7 de cada 10 mascotas que fueron adquiridas en las festividades de Navidad y Día de Reyes terminan en la calle o en una azotea.
  </p>
  <div class="video">
    <iframe 
    width="560" 
    height="315" 
    [src]="video | domseguro:'https://www.youtube.com/embed/'"
    frameborder="0" 
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-inpicture" 
    allowfullscreen>
  </iframe>
   
  </div> 
    <br><br>

  <hr>
 <br>
  <h3 class="titulo" style="text-align: center;">Nuestras Instalaciones</h3>
  <br><br>
  <div class="instalaciones">
    <div class="video2">
      <iframe 
    width="560" 
    height="315" 
    [src]="instalaciones | domseguro:'https://www.youtube.com/embed/'"
    frameborder="0" 
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-inpicture" 
    allowfullscreen>
  </iframe>
     
    </div>
    <div class="texto">
      <p >El refugio de animales "Colita Feliz" es un oasis de amor y esperanza. Sus luminosos pasillos están adornados con fotos de animales rescatados, mientras que en las habitaciones, camitas suaves y juguetes coloridos esperan a sus ocupantes.</p>
      <p >En el exterior, amplios patios ofrecen espacio para correr y jugar. Con un equipo dedicado y voluntarios apasionados, cada rincón de este refugio está impregnado de amor y cuidado, brindando segundas oportunidades a quienes más lo necesitan.</p>
    </div>
  </div>

  <div class="imginsta">
    <img src="assets/imagenes/imgNosotros/insta1.jpg" alt="Primera imagen">
    <div class="txtimg">¡VEN Y CONOCENOS!</div>
    <img src="assets/imagenes/imgNosotros/insta2.jpg" alt="Segunda imagen">
  </div>

  <br>
<hr>

<br><br>


<div class="container-estadisticas">
  <div class="estadisticas">
    <p class="txtesta" style="margin-top: 200px;">  Durante el último año, nuestro refugio ha atendido a 500 animales, encontrando hogares para 350 a través de adopciones. 
      </p>
    <p class="txtesta">  Además, proporcionamos tratamiento y rehabilitación a más de 200 animales necesitados. 
      </p>
    <p class="txtesta">  También esterilizamos/castramos a 400 animales y rescatamos a más de 100 de situaciones de abuso y abandono.
      </p> 
    <p class="txtesta"> Estos números representan vidas salvadas y muestran nuestro compromiso con el bienestar animal.
    </p>
  </div>
  <div class="imagen-estadisticas">
    <img src="assets/imagenes/imgNosotros/estadisticas.png" alt="Imagen">
  </div>
</div>





