

  <!-- Introducción -->
  <section id="introduccion">
    <div class="container">
      <h1>Bienvenido a nuestro proyecto</h1>
      <p class="intro">
        Colita Feliz tiene como objetivo primordial ofrecer refugio, rehabilitación y adopción responsable a perros y gatos en situación de vulnerabilidad. Al promover la adopción responsable y concienciar sobre el bienestar animal, Colita Feliz busca no solo brindar un hogar amoroso a estos animales, sino también reducir el número de abandonos mediante programas de esterilización y control de población. Así, el proyecto no solo protege a los animales necesitados, sino que también contribuye a construir una comunidad más compasiva y solidaria hacia los seres vivos más vulnerables.</p>
    </div>
  </section>

  <!-- Equipo de desarrollo -->
  <section id="equipo">
    <div class="container">
      <h2>Equipo de desarrollo</h2>
      <p class="anotacion">El Refugio de Adopcion Colita Feliz es un Proyecto Universitario Desarrollado por Alumnos de la UAA</p>
      <div class="miembros">
        <div class="miembro">
          <img src="assets/imagenes/Equipo/FotoM.png" alt="Foto de miembro 1">
          <h3>Michael Giovanny Miguel Padilla</h3>
          <p>Michael es el encargado del bienestar diario de los perros y gatos en el refugio. Se asegura de que reciban la atención adecuada, desde alimentación hasta paseos y juegos. Tiene un vínculo especial con cada uno de los animales y se esfuerza por hacer su estadía en el refugio lo más cómoda posible.</p>
        </div>

        <div class="miembro">
          <img src="assets/imagenes/Equipo/FotoG.png" alt="Foto de miembro 2">
          <h3>Gerardo Castañeda Martin</h3>
          <p>Gerardo es un voluntario dedicado a promover la adopción responsable a través de las redes sociales. Publica fotos y vídeos de los animales en busca de hogar, responde preguntas de los seguidores y organiza campañas de sensibilización sobre el bienestar animal.</p>
        </div>

        <div class="miembro">
            <img src="assets/imagenes/Equipo/FotoP.png" alt="Foto de miembro 2">
            <h3>Ana Paulina Martinez Luevano</h3>
            <p>Paulina es una persona apasionada por los animales y con una gran capacidad organizativa. Coordina el proceso de adopción desde el primer contacto con los interesados hasta la entrega del animal en su nuevo hogar. Siempre está atenta a las necesidades de los animales y de las personas que desean adoptar.</p>
        </div>

        <div class="miembro">
            <img src="assets/imagenes/Equipo/FotoA.png" alt="Foto de miembro 2">
            <h3>Ahylin Aketzali Castorena Rodriguez</h3>
            <p>Aketzali es la responsable de la salud de los animales en Colita Feliz. Realiza chequeos periódicos, vacunaciones, tratamientos médicos y cirugías si es necesario. Además, asesora a las personas que adoptan sobre el cuidado y la salud de sus nuevas mascotas.</p>
        </div>

        <div class="miembro">
            <img src="assets/imagenes/Equipo/FotoMG.png" alt="Foto de miembro 2">
            <h3>Michelle Monserrat Gomez Lopez</h3>
            <p>Michelle se encarga de la gestión administrativa y financiera de Colita Feliz. Administra los fondos para garantizar que haya suficientes recursos para el cuidado de los animales, coordina las donaciones y lleva el registro de adopciones y gastos del refugio. Su trabajo es fundamental para mantener el funcionamiento del refugio de manera eficiente.</p>
        </div>

      </div>
    </div>
  </section>

  <!-- Contacto -->
  <section id="contacto">
    <div class="container">
      <h2>Contáctanos</h2>
      <p>Si tienes alguna pregunta o sugerencia, no dudes en contactarnos.</p>
      <form>
        <input type="text" placeholder="Nombre" required>
        <input type="email" placeholder="Correo electrónico" required>
        <textarea placeholder="Mensaje" rows="5" required></textarea>
        <button type="submit">Enviar</button>
      </form>
    </div>
  </section>
