<div class="container mt-4">
    <h2 class="inventory-title text-center mb-4">Alta de Producto</h2>
    <form>
      <div class="form-group">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" placeholder="ID">
      </div>
      <div class="form-group">
        <label for="nombre">Nombre del Producto</label>
        <input type="text" class="form-control" id="nombre" placeholder="Nombre del producto">
      </div>
      <div class="form-group">
        <label for="imagen">URL de la Imagen</label>
        <input type="text" class="form-control" id="imagen" placeholder="URL de la imagen">
      </div>
      <div class="form-group">
        <label for="cantidad">Cantidad</label>
        <input type="number" class="form-control" id="cantidad" placeholder="Cantidad">
      </div>
      <div class="form-group">
        <label for="precio">Precio</label>
        <input type="number" class="form-control" id="precio" placeholder="Precio">
      </div>
      <div class="form-group">
        <label for="fechaIngreso">Fecha de Ingreso</label>
        <input type="date" class="form-control" id="fechaIngreso">
      </div>
      <div class="form-group">
        <label for="descripcion">Descripción</label>
        <textarea class="form-control" id="descripcion" rows="3" placeholder="Descripción"></textarea>
      </div>
      <button type="submit" class="btn btn-primary mt-3">Agregar Producto</button>
    </form>
  </div>
  