<app-header></app-header>
<router-outlet></router-outlet>
<footer class="footer bg-dark text-white mt-4">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5>Vinos del Valle</h5>
        <p>Dirección: Calle del Vino #123, Aguascalientes, México</p>
        <p>Teléfono: (123) 456-7890</p>
        <p>Email: contactovinosdelvalle.com</p>
      </div>
      <div class="col-md-4">
        <h5>Enlaces Rápidos</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-white">Inicio</a></li>
          <li><a href="#" class="text-white">Sobre Nosotros</a></li>
          <li><a href="#" class="text-white">Catálogo</a></li>
          <li><a href="#" class="text-white">Contacto</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5>Síguenos</h5>
        <a href="#" class="text-white me-2"><i class="fab fa-facebook-f"></i></a>
        <a href="#" class="text-white me-2"><i class="fab fa-twitter"></i></a>
        <a href="#" class="text-white me-2"><i class="fab fa-instagram"></i></a>
        <a href="#" class="text-white"><i class="fab fa-youtube"></i></a>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col text-center">
        <p>&copy; 2023 Vinos del Valle. Todos los derechos reservados.</p>
      </div>
    </div>
  </div>
</footer>

