<h3 style="font-size: xx-large; text-align: center; font-weight: bold; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">COMO SER VOLUNTARIO</h3>
<p>En Colita Feliz, creemos que cada voluntario aporta algo especial a nuestra misión de rescatar, rehabilitar y reubicar animales necesitados. Ofrecemos una variedad de roles de voluntariado que se adaptan a diferentes intereses y habilidades. A continuación, te presentamos las áreas en las que puedes hacer una diferencia:</p>
<br>

<div class="row row-cols-1 row-cols-md-2">
    <div class="col mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title" style="font-size: large; font-weight: bold;">Cuidado Animal 🐶</h5>
          <p class="card-text">Asistencia en la alimentación, limpieza y ejercicio de los animales.</p>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title" style="font-size: large; font-weight: bold;">Asistencia Médica ⚕️</h5>
          <p class="card-text">Apoyo en la administración de tratamientos bajo supervisión veterinaria.</p>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title" style="font-size: large; font-weight: bold;">Adopciones 🫂</h5>
          <p class="card-text">Orienta y asiste a potenciales adoptantes.</p>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title" style="font-size: large; font-weight: bold;">Promoción y Recaudación de Fondos 💰</h5>
          <p class="card-text">Participa en eventos y campañas para recaudar fondos y aumentar la conciencia.</p>
        </div>
      </div>
    </div>
    <div class="col mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title" style="font-size: large; font-weight: bold;">Mantenimiento 🤗</h5>
            <p class="card-text">Ayuda a mantener nuestras instalaciones en óptimas condiciones.</p>
          </div>
        </div>
      </div>
  </div>
  <p style="text-align: center; font-size: medium;">Involúcrate hoy y ayuda a los animales en necesidad. Regístrate como voluntario o contáctanos para más información.</p>
  <h2 style="text-align: center; font-weight: bold; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">¡Tu contribución puede cambiar vidas!</h2>