<div class="container-fluid p-0">
  <div class="hero-image">
    <img src="../assets/images/back1.jpg" class="img-fluid w-100" alt="Los mejores Vinos">
    <div class="hero-text">
      <h1 class="display-4">Los mejores Vinos</h1>
      <p class="lead">Calidad Premium</p>
      <a href="#" class="btn btn-primary btn-lg" [routerLink]="['/productos']">Ver Productos</a>
    </div>
  </div>
</div>

<div class="about-us mt-4 d-flex align-items-center">
  <div class="col-md-6">
    <h2 class="text-center mb-4">Sobre Nosotros</h2>
    <p class="text-center mb-4">
      Bienvenidos a Vinos Gómez, su fuente de confianza para los mejores vinos. Nos enorgullece ofrecer productos de alta calidad,
      seleccionados cuidadosamente para garantizar frescura y sabor en cada copa. Ya sea que esté organizando una cena elegante o buscando
      vinos premium para su colección, estamos aquí para satisfacer sus necesidades con una amplia variedad de vinos. ¡Descubra
      nuestras ofertas y promociones especiales hoy mismo!
    </p>
    <div class="text-center">
      <a href="#promociones" class="btn btn-primary">Ven y Conocenos</a>
    </div>
  </div>
  <div class="col-md-6">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3695.5258892483766!2d-102.2895926256277!3d22.144045348542758!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8429e29b1b31aba7%3A0xeedb07ac2b38f712!2sNarciso%20Perales%20%C3%81vila%20Mina%20702%2C%20Plutarco%20El%C3%ADas%20Calles%2C%2020677%20Pabell%C3%B3n%20de%20Arteaga%2C%20Ags.!5e0!3m2!1ses-419!2smx!4v1717571183175!5m2!1ses-419!2smx" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</div>

<div class="container mt-4">
  <div class="promotions mt-4">
    <h2 class="promotions-title">Promociones</h2>
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <img src="../assets/images/festejo_vino.webp" class="card-img-top" alt="Festejo del Vino Tinto">
          <div class="card-body">
            <h5 class="card-title">Festejo del Vino Tinto</h5>
            <p class="card-text">Disfruta de nuestra oferta especial en vinos tintos premium con un increíble descuento. ¡Aprovecha ahora!</p>
            <a href="#" class="btn btn-primary">Ver Más</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="../assets/images/combo_vino_blanco.jpg" class="card-img-top" alt="Combo de Vinos Blancos">
          <div class="card-body">
            <h5 class="card-title">Combo de Vinos Blancos</h5>
            <p class="card-text">Combo de vinos blancos seleccionados para maridar con tus platos favoritos. Perfecto para cenas especiales.</p>
            <a href="#" class="btn btn-primary">Ver Más</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="../assets/images/vino_rosado_promo.jpg" class="card-img-top" alt="Oferta de Vinos Rosados">
          <div class="card-body">
            <h5 class="card-title">Oferta de Vinos Rosados</h5>
            <p class="card-text">Oferta en vinos rosados seleccionados de la mejor calidad. Ideal para tus reuniones y celebraciones.
              Aprovecha.
            </p>
            <a href="#" class="btn btn-primary">Ver Más</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>   

<br>
<div class="categories-section">
  <div class="categories mt-4 p-4">
    <div class="row">
      <div class="col-md-3 text-center">
        <div class="category-item">
          <img src="../assets/images/vino_tinto.webp" class="rounded-circle img-fluid" alt="Vinos Tintos">
          <h6 class="mt-2">Vinos Tintos</h6>
        </div>
      </div>
      <div class="col-md-3 text-center">
        <div class="category-item">
          <img src="../assets/images/vino_blanco.png" class="rounded-circle img-fluid" alt="Vinos Blancos">
          <h6 class="mt-2">Vinos Blancos</h6>
        </div>
      </div>
      <div class="col-md-3 text-center">
        <div class="category-item">
          <img src="../assets/images/vino_rosado.webp" class="rounded-circle img-fluid" alt="Vinos Rosados">
          <h6 class="mt-2">Vinos Rosados</h6>
        </div>
      </div>
      <div class="col-md-3 text-center">
        <div class="category-item">
          <img src="../assets/images/vino_espumoso.webp" class="rounded-circle img-fluid" alt="Vinos Espumosos">
          <h6 class="mt-2">Vinos Espumosos</h6>
        </div>
      </div>
    </div>    
  </div>
</div>

<br><br>
