<footer>
    <div class="footer-container">
      <div class="footer-logo">
        <h3>Colita Feliz</h3>
        <p>Refugio de Animales</p>
        <div class="social-icons">
          <a href="#" class="social-icon"><i class="fab fa-facebook"></i></a>
          <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
          <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
      <div class="footer-links">
        <h4>Enlaces de Interés</h4>
        <ul>
          <li><a class="nav-link active" [routerLink]="['/adopciones']" routerLinkActive="router-link-active">Adopta una mascota</a></li>
          <li><a class="nav-link active" [routerLink]="['/ayuda']" routerLinkActive="router-link-active">Hazte Voluntario</a></li>
          <li><a class="nav-link active" [routerLink]="['/ayuda']" routerLinkActive="router-link-active">Dona</a></li>
        </ul>
      </div>
      <div class="footer-contact">
        <h4>Contáctanos</h4>
        <p><i class="fas fa-map-marker-alt"></i> Dirección: Av. Insurgentes 204, Ags, Ags</p>
        <div class="map-container">
          <iframe src="https://maps.google.com/maps?q=Av.%20Ejemplo%20123%2C%20Ciudad&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" allowfullscreen></iframe>
        </div>
        <p><i class="fas fa-phone"></i> Teléfono: (555) 555-5555</p>
        <p><i class="fas fa-envelope"></i> Email: infocolitafeliz.org</p>
      </div>
    </div>
    <div class="footer-bottom">
      <p>&copy; 2024 Colita Feliz. Todos los derechos reservados.</p>
    </div>
  </footer>