
.thirdBlock{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;

}




.title{
    margin-top: 60px;
    margin-bottom: 30px;
    font-family: 'PT Serif', serif;
    font-size: 40px;
    font-weight: bolder;
}
.tresItems{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 70%;

}

@media screen and (max-width:920px){
    .tresItems{
        flex-direction: column;
    }
}

.image{
    margin-left: 50px;
    margin-right: 70px;
}

.subs{
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
    font-size: 22px;
}

.textoDesc{
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.Mas{
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
    font-size: 16px;
    color: rgb(255, 128, 0);
}

.Mas:hover{
    cursor: pointer;
    color: rgb(255, 152, 49);
}

.tenisA{
    width: 120%;
}