body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    font-family: 'Press Start 2P', cursive;
    background-color: #222;
    color: #fff;
    background-image: url("../media/fondo.gif");
    background-size: cover;
    background-repeat: no-repeat;
    animation: fondo-movimiento 10s infinite linear;
  }
  
  @keyframes fondo-movimiento {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 100% 100%;
    }
  }
  
  #lienzoContainer {
    display: flex;
    margin-top: 20px;
  }
  
  .lienzo {
    margin-right: 20px;
    position: relative;
    width: 400px;
    height: 400px;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 0 30px rgba(39, 45, 235, 0.9);
    border-left: #6ad5e8 8px groove;
    border-top: #494d50 8px groove;
    border-right: #096251 8px groove;
    border-bottom: #762703 8px groove;
    animation: brillo-lienzo 2s infinite;
  }
  
  @keyframes brillo-lienzo {
    0% {
      box-shadow: 0 0 30px rgba(39, 45, 235, 0.9);
    }
    50% {
      box-shadow: 0 0 50px rgba(39, 45, 235, 1);
    }
    100% {
      box-shadow: 0 0 30px rgba(39, 45, 235, 0.9);
    }
  }
  
  .imagen-casa {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
  }
  
  #cajasimagenes {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  #cajasimagenes > div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: 0;
    border-left: #17cff0 8px groove;
    border-top: rgb(10, 40, 85) 8px groove;
    border-right: #3fd6ba 8px groove;
    border-bottom: #1485b9 8px groove;
    border-radius: 5px;
    box-shadow: 0 0 40px rgb(149, 149, 202);
    animation: pulsar 1s infinite;
    transition: transform 0.3s ease;
  }
  
  @keyframes pulsar {
    0% {
      box-shadow: 0 0 10px rgba(39, 45, 235, 0.5);
    }
    50% {
      box-shadow: 0 0 20px rgba(39, 45, 235, 1);
    }
    100% {
      box-shadow: 0 0 10px rgba(39, 45, 235, 0.5);
    }
  }
  
  #cajasimagenes div:hover {
    transform: scale(1.1);
    animation: brillo-caja 1s infinite;
  }
  
  @keyframes brillo-caja {
    0% {
      box-shadow: 0 0 10px rgba(39, 45, 235, 0.5);
    }
    50% {
      box-shadow: 0 0 30px rgba(39, 45, 235, 1);
    }
    100% {
      box-shadow: 0 0 10px rgba(39, 45, 235, 0.5);
    }
  }
  
  #cajasimagenes div img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
    cursor: pointer;
  }
  
  .mensaje {
    margin-top: 20px;
    font-size: 30px;
    text-align: center;
    transition: opacity 0.5s ease-in-out;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 9999;
    animation: parpadeo 1s infinite;
  }
  
  @keyframes parpadeo {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }
  
  .mensaje-verde {
    background-color: #00cc00;
    color: #fff;
  }
  
  .mensaje-rojo {
    background-color: #cc0000;
    color: #fff;
  }

  button {
    font-family: "Anta", sans-serif;
    background-color: #ff0000; /* Rojo */
    color: #ffffff; /* Blanco */
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    margin-left: 20px;
}


button:hover {
    background-color: #990000; /* Cambia el color al pasar el mouse sobre el botón */
}

/* Botón #b1 */
#b1 {
  border: none;
  background: none;
  cursor: pointer;
  margin-left: 1250px; /* Posición del botón */
  transition: transform 0.3s ease-in-out; /* Transición para la animación */
}

#b1:hover {
  transform: scale(1.2); /* Escala el botón al 120% al pasar el cursor */
}

/* Iconos */
.fa-volume-high, .fa-volume-xmark {
  font-size: 2em;
  color: #ffffff; /* Color de los iconos */
  animation: pulse 2s infinite; /* Animación de pulso */
}

/* Estilos para los botones */
#b1 {
  display: inline-block;
  margin-right: 10px; /* Espacio entre los botones */
  background: none;
  border: none;
  cursor: pointer;
}

/* Animación de pulso */
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}


.game-button {
  background-color: #333;
  border: none;
  color: #fff;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: 'Press Start 2P', cursive;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.button-text {
  position: relative;
  z-index: 1;
}

.button-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.game-button:hover {
  background-color: #666;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.game-button:hover .button-icon {
  opacity: 1;
  right: 15px;
}

@keyframes glitch {
  0% {
    text-shadow: 1px 0 0 rgba(255, 0, 0, 0.5), -1px 0 0 rgba(0, 255, 0, 0.5);
  }
  25% {
    text-shadow: -1px 0 0 rgba(255, 0, 0, 0.5), 1px 0 0 rgba(0, 255, 0, 0.5);
  }
  50% {
    text-shadow: 1px 0 0 rgba(255, 0, 0, 0.5), 1px 0 0 rgba(0, 255, 0, 0.5);
  }
  75% {
    text-shadow: -1px 0 0 rgba(255, 0, 0, 0.5), -1px 0 0 rgba(0, 255, 0, 0.5);
  }
  100% {
    text-shadow: 1px 0 0 rgba(255, 0, 0, 0.5), -1px 0 0 rgba(0, 255, 0, 0.5);
  }
}

.game-button:hover .button-text {
  animation: glitch 0.5s infinite;
}